<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
    <dubbo:application name="dubbo-server-threadpool-client"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry id="dubboRegistry" address="zookeeper://192.168.7.21:3181" check="false"/>

    <!--服务提供者协议配置 可以配置多个协议，在<dubbo:service protocol=""/> 中指定使用的协议-->
    <dubbo:protocol name="dubbo" port="20881" />

    <!-- 要暴露的服务接口 -->
    <dubbo:reference interface="com.dubbo.server.filtertest.service.MyDubboService" registry="dubboRegistry"/>

</beans>