<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
    <dubbo:application name="Dubbo-Server_dubbo"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry
            address="zookeeper://192.168.223.129:6001"
            check="false"
            subscribe="false"
            register=""
    />

    <!--服务提供者协议配置 可以配置多个协议，在<dubbo:service protocol=""/> 中指定使用的协议-->
    <dubbo:protocol id="dubbo" name="dubbo" port="20880"
                    threadpool="fixed" threads="100" queues="200"
                    iothreads="5" accepts="100" server="netty"
    />

    <!-- 要暴露的服务接口 -->
    <dubbo:service
            interface="com.dubbo.intf.dubbo.DubboService"
            ref="dubboServiceImpl"
            executes="10"
            loadbalance="roundrobin"
            token="true"
            protocol="dubbo"
    />

</beans>