<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
    <dubbo:application name="Dubbo-Client_dubbo"/>

    <!-- 使用zookeeper注册中心， 可配置多个，在<dubbo:reference registry=""/> 中选择注册中心  -->
    <dubbo:registry
            address="zookeeper://192.168.7.21:2181"/>

    <!-- 要引用的服务 -->
    <dubbo:reference id="dubboService_2"
                     interface="com.dubbo.intf.dubbo.DubboService"
                     validation="false"
                     client="netty"
                     filter="customer"
    />

</beans>